*{
padding: 0;
margin: 0;
}

header{
height: 45px;
background-color: white;
}
header nav ul{
display: flex;
margin-left: 75%;
list-style: none;
}

header nav ul li{
padding-left: 10%;
}

header a{
text-decoration: none;
color: black;
font-size: 20px;
}

